# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
.installed.cfg
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Local settings
*.env
